div#wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

div#sidebar {
  width: 20%;
  float: right;
  position: fixed;
  right: 10;
  height: 525px;
  overflow-y: scroll;
}

#map {
  float:left;
  width: 400px;
  height: 600px;
  overflow: hidden;
}

#myMapContainer {
  	float:left;
/*	width: 800px;
	height: 900px;
	overflow: hidden;*/
}

#myMap {
	float: left;
	/*zoom: 150%; */
/*	crop: auto;rect(0px, 800px, 85px, 30px)*/
}

#preload {
  display: none;
}
