div#wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

div#sidebar {
  width: 20%;
  float: right;
}

#map {
  float:left;
  width: 400px;
  height: 600px;
  overflow: hidden;
}

#myMapContainer {
  	float:left;
	width: 800px;
	height: 800px;
	overflow: hidden;
}

#myMap {
	float: left;
	zoom: 150%;
/*	crop: auto;rect(0px, 800px, 85px, 30px)*/
}

#preload {
  display: none;
}
